/* Primeira Linha */
.topo{
    background-color: tomato;
}

.row .w-40{
     background-color: blue !important;
}
.menu li{
    list-style: none;
}
/* Segunda Linha */
.esquerda, .direita{
    width: 50%;
    float: left;
}

.esquerda p, .direita p{
    color: white;
}

.esquerda{
    background-color: red;
}
.direita{
    background-color: blue;
}

.w-60{
    width: 60%;
    float: left;
    background-color: green;
}
.w-40{
    width: 40%;
    float: left;
    background-color: yellow;
}
/* Terceira Linha */
.rodape{
    background-color: pink;
    color: white;
}