/* aqui eu importo o normalize é uma biblioteca externa de css que normaliza alguns elementos do HTML */

@import '../libs/css/normalize.css';

/* 
aqui eu importo o arquivo responsive onde eu tenho todos os meus estilos que trata
a responsividade da página  
*/

@import 'responsive.css';

/* 
Aqui eu importo todos os arquivos de css das páginas internas já que em todas eu chamo
O main.ccss, mas é possível fazer assim ou chama os arquivos diretamente na página através
Da tag <link>, caso seja feito com a tag <link> é necessário remover o import da respectiva 
página aqui no main pra o arquivo não ser chamado 2x, uma pela página html e outra por este arquivo*/

@import 'pages/comercio-eletronico.css';
@import 'pages/contato.css';
@import 'pages/downloads.css';
@import 'pages/ganhar-dinheiro.css';
@import 'pages/internet.css';
@import 'pages/marketing.css';
@import 'pages/scripts.css';
@import 'pages/software.css';
@import 'pages/web-master.css';

/* aqui selecione o body e aplico 0 de margem e 0 de preenchimento ao boy */

body {
    margin: 0;
    padding: 0;
}


/* Aqui eu seleciono todas as tags de cabeçalhos mesmo não tendo declarado todas elas em meus documentos HTML */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* Seleciono a tag <img>  e aplico a largura de 100% em todas as tags*/

img {
    width: 100%;
}


/* todos as tags HTML que contiver 
a class="w-100" será aplicado a proprieda width com o valor 100% */

.w-100 {
    width: 100%;
}


/* todos as tags HTML que contiver 
a class="w-75" será aplicado a proprieda width com o valor 75% */

.w-75 {
    width: 75%;
}


/* todos as tags HTML que contiver 
a class="w-50" será aplicado a proprieda width com o valor 50% */

.w-50 {
    width: 50%;
}


/* todos as tags HTML que contiver 
a class="w-25" será aplicado a proprieda width com o valor 25% */

.w-25 {
    width: 25%;
}


/* todos as tags HTML que contiver 
a class="w-100" será aplicado a proprieda width com o valor 100% */


/* todos as tags HTML que contiver 
a class="float-left" flutuaram a esquerda */

.float-left {
    float: left;
}


/* todos as tags HTML que contiver 
a class="float-right" flutuaram a direita */

.float-right {
    float: right;
}

.container {
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
    display: flow-root;
}


/* todos as tags HTML que contiver 
a class="header-top" será aplicada uma margem inferior de 15 pixel */

.header-top {
    margin-bottom: 15px;
}


/* todos as tags HTML que contiver 
a class="bg-black" será aplicada uma cor de fundo conforme o sistema #383435 hexa-decimal */

.bg-black {
    background-color: #383435;
}


/* todos as tags HTML que contiver 
a class="background-header" uma altura de 250 píxel e largura 100% e cor de fundo #6a6a6a hexa-decimal*/

.background-header {
    height: 250px;
    width: 100%;
    background-color: #6a6a6a;
}


/* todos as tags HTML que contiver 
a class="nav-menu" será aplicado uma cor de fundo #383435 conforme o sistema hexadecimal
largura de 100% e um display(box) do tipo flex;
*/

.nav-menu {
    background-color: #383435;
    width: 100%;
    display: flex;
}


/* todos as tags HTML que contiver 
a class="list" a lista de estilo será do tipo none, ou seja, sem estilo.
Preenchimento de 5px, display(box) do tipo flex com largura de 95%,
sem margin superior e inferior e as margin da direita e esquerda serão
divididas e aplicadas automaticamente entre elas onde a direita terá 2,5% e a esquerda também;
*/

.list {
    list-style: none;
    padding: 5px;
    display: flex;
    width: 95%;
    margin: 0 auto;
}


/* todos as tags HTML que seguir a hierarquia .list .list-item terão as propriedade abaixo aplicadas*/

.list .list-item {
    align-self: center;
    width: 10%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.5s;
}

.list .list-item:hover {
    background-color: #FFF;
    transition: background-color 0.5s;
}

.list .list-item:hover a {
    color: #383435;
    cursor: pointer;
}

.list .list-item a {
    text-decoration: none;
    padding: 10px 0;
    display: block;
    border-right: 1px solid #FFF;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}

.list .list-item:last-child a {
    border: none;
}

.col-left {
    float: left;
}

.col-left article,
.col-right article {
    background-color: #6a6a6a;
    margin-bottom: 15px;
    margin-right: 15px;
}

.col-left figure {
    margin: 0;
    display: flex;
}

.col-right {
    float: right;
}

.title {
    padding: 10px 15px;
    color: #FFF;
}

.destaque figure {
    margin-right: 10px;
    height: 100%;
}

.destaque {
    display: inline-block;
}

.destaque {
    display: inline-block;
}

.body-destaque {
    padding: 15px;
    display: inline-block;
}

.p-0 {
    padding: 0;
}

.btn-leia-mais {
    background-color: #CACACA;
    color: #000;
    border: none;
    outline: 0;
    padding: 5px;
}

.btn-leia-mais:hover {
    background-color: #383435;
    color: #CACACA;
    cursor: pointer;
}

.campo-pesquisa {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    outline: 0;
    transition: border 0.5s;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
}

.campo-pesquisa:focus {
    border: 1px solid #383435;
    transition: border 0.5s;
}

.body-mais-lidos {
    background-color: #FFF;
    margin-bottom: 15px;
}

.body-mais-lidos ul {
    margin: 0;
    padding: 10px 30px;
}

.col-left .programacao,
.col-left .webdesign {
    padding: 0;
    margin-right: 15px;
}

.col-left .body {
    padding: 15px;
    color: #FFF;
}

.mais-artigos {
    margin-top: 15px;
    padding: 15px;
}

.mais-artigos .body {
    padding: 0;
}

.mais-artigos .bg-black {
    text-align: center;
}

.mais-artigos ul {
    padding: 15px;
    margin: 0;
}

.mais-lidos {
    background-color: #6a6a6a;
    padding: 15px;
    margin-right: 0!important;
    display: inline-block;
    height: 96vh;
}

.mais-lidos figure {
    margin: 0;
    display: flex;
    max-width: 48%;
}

.mais-lidos figure img {
    background: #FFF;
    overflow: hidden;
    padding: 5px;
    transition: padding 0.5s;
}

.mais-lidos figure:hover img {
    padding: 0;
    transition: padding 0.5s;
}

.mais-lidos figure:nth-child(n+1):nth-child(-n+2) {
    padding-bottom: 4%;
}

.mais-lidos figure:nth-child(even) {
    padding-left: 2%;
}

.mais-lidos figure:nth-child(odd) {
    padding-right: 2%;
}

.footer {
    background-color: #6a6a6a;
    color: #FFF;
    margin: 0 15px;
}

.menu-mobile {
    display: none;
    float: right;
    width: 40px;
    padding: 7px;
    margin: 5px;
}

.menu-mobile span {
    border-bottom: 2px solid #383435;
    padding-bottom: 5px;
    display: block;
}

.menu-mobile span:first-child {
    padding-bottom: 0;
}